@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

* {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

body {
  background-color: #202023;
  padding: 0rem 1rem;
  margin-top: 0;
  color: #ffffffeb;
}
